#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-bar {
  position: fixed;
  display: flex;
  top: 1rem;
}

.search-input {
  position: relative;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2b2b2b;
  cursor: text;
  transition: border-color 0.25s;
}

.nlu-number {
  color: greenyellow;
  /* font-weight: bold; */
  font-size: 26px;
  padding: 12px;
}

.clear-button {
  color: red;
}

.qr-toggle {
  opacity: 25%;
  cursor: pointer;
}

.qr-modal {
  display: fixed;
  z-index: 1;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  filter:drop-shadow(0px 0px 10px #000);
}